* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    background-color: #ffffff;
    height: 80px;
    padding: 10px 0 0 20px;
}

h1 {
    display: inline-block;
    font-size: 2.4em;
    vertical-align: top;
}

body {
    background-color: #f6f8f9;
}

main {
    margin: 30px auto;
    background-color: #ffffff;
    width: 70%;
}

nav {
    height: 40px;
    padding: 5px 0 0 40px;
    border-bottom: 3px #f6f8f9 solid;
}

button {
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 0.7em;
    background-color: #47adf1;
    padding: 3px 10px;
    border-radius: 8%;
}

input {
    text-align: center;
    line-height: 20px;
    border-radius: 8%;
    padding: 3px 10px;
    width: 80px;
    font-size: 0.7em;
    border: 1px #ced3d7 solid;
    color: #ced3d7;
}

section {
    margin: 25px 0 25px 40px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
}

.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px #64c0a9 solid;
    border-radius: 50%;
    color: #64c0a9;
    text-align: center;
    line-height: 20px;
}

.cross {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px #e8433b solid;
    border-radius: 50%;
    color: #e8433b;
    text-align: center;
    line-height: 20px;
}

.label {
    display: inline-block;
    text-align: center;
    color: #ffffff;
    font-size: 0.7em;
    padding: 6px 10px;
    border-radius: 25%;
}

.blue {
    background-color: #47adf1;
}

#violet {
    background-color: #9c72e4;
}

#green {
    background-color: #64c0a9;
}

#orange {
    background-color: #f29e33;
}

#pink {
    background-color: #d863a1;
}

#kaki {
    background-color: #b0c926;
}