* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

#banner {
    background-color: #ffffff;
    height: 80px;
}

#banner img {
    margin: 15px 0 0 15px;
}

h1 {
    display: inline-block;
    text-align: center;
    line-height: 80px;
    font-size: 2.4em;
}

body {
    background-color: #f6f8f9;
}

main {
    margin: 30px auto;
    background-color: #ffffff;
    width: 70%;
}

nav {
    height: 40px;
    margin-left: 40px;
    padding-top: 5px;
    border-bottom: 3px #f6f8f9 solid;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

.textCentered {
    text-align: center;
    line-height: 20px;
    color: #ffffff;
    font-size: 0.7em;
}

.blueLabel {
    background-color: #47adf1;
    padding: 3px 10px;
    border-radius: 8%;
}

input {
    text-align: center;
    line-height: 20px;
    border-radius: 8%;
    padding: 3px 10px;
    width: 80px;
    border: 1px #ced3d7 solid;
    font-size: 0.7em;
    color: #ced3d7;
}

section {
    margin: 25px 0 25px 40px;
}

ul {
    list-style-type: none;
}

.check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px #64c0a9 solid;
    border-radius: 50%;
    color: #64c0a9;
    text-align: center;
    line-height: 20px;
}